.link
{
    text-decoration: none;
    color: black;
}

.article
{
    height: 400px;
    width: 22.5%;
    float: left;
    margin: 0px 1% 2% 1%;
    background: white;
    border: 2px solid black;
    position: relative;
}

.title
{
    height: 20%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.article_pic
{
    margin: 0px;
    height: 40%;
    width: 100%;
    background: black;
}

.article_description
{
    margin: 0px;
    height: 40%;
    width: 100%;
    background: red;
}

.overlay
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: grey;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .6s ease;
}

.text
{
    color: white;
    font-size: 18px;
    top: 4%;
    position: absolute;
    text-align: center;
}

.article:hover .overlay
{
    height: 50%;
}