*
{
    margin: 0;
}

body
{
    color: black;
    background-color: white;
}

.article
{
    height: 500px;
    width: 90%;
    margin-left: 5%;
}

.title
{
    width: 100%;
    height: 20%;
}

.title_p
{
    font-size: 34px;
    word-spacing: 2px;
    margin: 10px 10px 10px 10px;
    font-family:fantasy;
}

.article_pic
{
    height: 80%;
    width: 70%;
    float: left;
}

.article_description
{
    height: 75%;
    width: 30%;
    float: right;
}

.article_description_p
{
    margin: 10px 10px 10px 10px;
    font-size: 25px;
    font-family:serif;
}

.full_link
{
    height: 5%;
    width: 30%;
    float: right;
    text-align: center;
}

.link
{
    text-decoration: none;
    font-size: 25px;
}

hr
{ 
    border : dotted black 6px;
	border-bottom: none;
	width: 4%;
    margin-left: 48%;
}